In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv('loan.csv', usecols=['BsmtQual','GarageType','SalePrice'])
df

     BsmtQual GarageType  SalePrice
0          Gd     Attchd     208500
1          Gd     Attchd     181500
2          Gd     Attchd     223500
3          TA     Detchd     140000
4          Gd     Attchd     250000
...       ...        ...        ...
1455       Gd     Attchd     175000
1456       Gd     Attchd     210000
1457       TA     Attchd     266500
1458       TA     Attchd     142125
1459       TA     Attchd     147500

[1460 rows x 3 columns]

In [18]:
#Creating New Feature
df['BsmtQual_missval_check'] = np.where(df['BsmtQual'].isnull(),1,0)

In [14]:
df.head(40)

   BsmtQual GarageType  SalePrice  BsmtQual_missval_check
0        Gd     Attchd     208500                       0
1        Gd     Attchd     181500                       0
2        Gd     Attchd     223500                       0
3        TA     Detchd     140000                       0
4        Gd     Attchd     250000                       0
5        Gd     Attchd     143000                       0
6        Ex     Attchd     307000                       0
7        Gd     Attchd     200000                       0
8        TA     Detchd     129900                       0
9        TA     Attchd     118000                       0
10       TA     Detchd     129500                       0
11       Ex    BuiltIn     345000                       0
12       TA     Detchd     144000                       0
13       Gd     Attchd     279500                       0
14       TA     Attchd     157000                       0
15       TA     Detchd     132000                       0
16       TA     Attchd     149000                       0
17      NaN    CarPort      90000                       1
18       TA     Detchd     159000                       0
19       TA     Attchd     139000                       0
20       Ex    BuiltIn     325300                       0
21       TA     Attchd     139400                       0
22       Gd     Attchd     230000                       0
23       Gd     Attchd     129900                       0
24       TA     Attchd     154000                       0
25       Gd     Attchd     256300                       0
26       TA     Detchd     134800                       0
27       Ex     Attchd     306000                       0
28       TA     Attchd     207500                       0
29       TA     Detchd      68500                       0
30       TA     Detchd      40000                       0
31       TA     Attchd     149350                       0
32       Ex     Attchd     179900                       0
33       TA     Attchd     165500                       0
34       Ex     Attchd     277500                       0
35       Ex    BuiltIn     309000                       0
36       Gd     Attchd     145000                       0
37       TA     Attchd     153000                       0
38       TA     Detchd     109000                       0
39      NaN        NaN      82000                       1

In [15]:
#For frequent category
frequent = df['BsmtQual'].mode()[0]
frequent

'TA'

In [16]:
# replacing NaN values in BsmtQual with 'TA'
df['BsmtQual'].fillna(frequent, inplace=True)
df.head(20)

   BsmtQual GarageType  SalePrice  BsmtQual_missval_check
0        Gd     Attchd     208500                       0
1        Gd     Attchd     181500                       0
2        Gd     Attchd     223500                       0
3        TA     Detchd     140000                       0
4        Gd     Attchd     250000                       0
5        Gd     Attchd     143000                       0
6        Ex     Attchd     307000                       0
7        Gd     Attchd     200000                       0
8        TA     Detchd     129900                       0
9        TA     Attchd     118000                       0
10       TA     Detchd     129500                       0
11       Ex    BuiltIn     345000                       0
12       TA     Detchd     144000                       0
13       Gd     Attchd     279500                       0
14       TA     Attchd     157000                       0
15       TA     Detchd     132000                       0
16       TA     Attchd     149000                       0
17       TA    CarPort      90000                       1
18       TA     Detchd     159000                       0
19       TA     Attchd     139000                       0

## Above commands can be comprised into a function as given below:

In [19]:
def impute_nan(df,var):  
    
    #Creating New Feature
    df[var+'_missval_check'] = np.where(df['BsmtQual'].isnull(),1,0)   
   
    #For frequent category 
    frequent = df[var].mode()[0]                      
    
    #Replacing NaN values in BsmtQual with 'TA'
    df['BsmtQual'].fillna(frequent, inplace=True)

## Advantages
1.Easy to Implement <br> 
2.Captures the importance of missing value.

## Disadvantages
1.Creating Additional Features Which leads to Curse of Dimensionality.